
* {
    margin: 0 0 0 0;

}
html{
    height: 100%;
}

body{
    height: 100%;
    background-image: url(images/background.png);
    background-size: cover;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    height: 100%;
}

.nav-bar{
    
    width: 60%;
    display: flex;
    justify-content: flex-start;
    margin-left: 40px;

}

.nav-bar{
    padding-top: 50px;
    font-family: 'Capriola', sans-serif;
}

.item{
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    
    padding: 15px;
    text-align: center;
     
}

header{
    height: 20%;
    width: 30%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Cabin', sans-serif;
    align-self: center;
    margin-right: 50px;
}

.title{
font-size: 50px;
text-align: center;
margin-bottom: 50px;
}
.subtitle{
font-size: 30px;
}
.topics{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    
}

.box{
    width:30%;
    height: 30%;
    
    margin: 10px;
    text-align: center;
    display: table;
   }


a {width:30%;
    height: 30%;
    margin: 10px;
    text-align: center;
    display: table;
   }
.topics::after{
    content: "";
    flex: auto;
}
.box:hover {
    border: 2px solid white;
    background-color: white;
}

p {
    color: white;
    font-size: 30px;
    overflow: auto;
    vertical-align: middle;
    display: table-cell;
    font-family: 'Bungee Shade', cursive;
   }

   p:hover{
       color: black;
   }


