table, th, td {
  border: 2px solid white;
  border-collapse: collapse;
  color: white;
  font-size: 10px;
}
th, td {
  padding: 5px;
  text-align: center;    
}

span {
  margin: 10px;
}

body {
  background-image: url(./background.jpg);
}

div {
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
}

img {
  display: block;
  margin: auto;
  position: absolute;
}

img:nth-child(2) {
  z-index: 1;
}

.filters {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.images {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 300px;
  padding-bottom: 20px;
}
