*{
    margin: 0;
}


div{
    border: 0.3px solid black;
}


.content{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.logo-area{
    height: 100%;
    background-color: darkturquoise;
    flex-grow: 3;
    display: flex;
    
}

.top-bar{
    height: 20%;
    background-color: blueviolet;
    display: flex;
    
}



.logo{
    width: 200px;
    height: 50px;
    background-color: darkgreen;
    margin-left: 150px;
    align-self: flex-end;
}

.login-area{
   
    height: 100%;
    background-color: darkseagreen;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.signin-part{
    height: 80%;
    display: flex;
    
}

.left{
    width: 60%;
    background-color: chartreuse;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right{
    width: 40%;
    background-color: coral;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    width: 300px;
    height: 100px;
    background-color: crimson;
    margin-top: 50px;
    margin-left: 100px;
}

.network-image{
    width: 300px;
    height: 100px;
    margin-top: 30px;
    margin-left: 100px;
    background-color: darkgoldenrod;
}


.login-name{
width: 100px;
height: 40px;
background-color: deepskyblue;
margin: 10px;
}

.login-password{
    width: 100px;
    height: 40px;
    background-color: gold;
    margin: 10px;
}

.login-button{
    width: 100px;
    height: 40px;
    background-color: cadetblue;
    margin: 10px;
}
        
.slogan{
width: 90%;
height: 20%;
background-color: cyan ;
margin-top: 20px;
}

.dados{
    width: 90%;
    height: 30%;
    background-color: pink ;
    display: flex;
    flex-direction: column;
}


.birth{
    width: 90%;
    height: 10%;
    background-color: yellow ;
}

.gender{
    width: 90%;
    height: 10%;
    background-color: red;
}

.disclaimer{
    width: 90%;
    height: 10%;
    background-color: peru;
}

.signup-button{
    width: 90%;
    height: 10%;
    background-color: green;
}

.footer{
    width: 90%;
    height: 10%;
    background-color:burlywood;
}


.nomesobrenome{
    display: flex;
    flex-grow: 1;
    background-color: springgreen;
    
}

.nome{
    width: 40%;
    background-color: rebeccapurple;
    height: 80%;
    margin-right: auto;
    margin-left: auto ;
    margin-top: 5px;
    margin-bottom: 5px;

}

.sobrenome{
    width: 40%;
    background-color: salmon;
    height: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.email{
    width: 90%;
    background-color: slategray;
    flex-grow: 1;
    margin: auto;
    margin: 7px auto;

}

.senha{
    width: 90%;
    background-color: sienna;
    flex-grow: 1;
    margin: auto;
    margin: 7px auto;
}