
* {
    margin: 0 0 0 0;

}
html{
    height: 100%;
}

body{
    height: 100%;
    background-color: black;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 100%;
}

header{
    height: 20%;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Capriola', sans-serif;
}

.title{
font-size: 50px;
}
.subtitle{
font-size: 30px;
}
.topics{
    height: 75%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

p{
    color: white;
    font-family: 'Capriola', sans-serif;
    text-shadow: -1px 0 black, 0 5px black, 1px 0 black, 0 -1px black;
}

